{% extends "status/base.html" %}
{% block content %}
    {% for item in items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">Author</a>
                <small class="text-muted">Date</small>
                </div>
                <h2><a class="article-title" href="#">Title</a></h2>
                <p class="article-content">{{ item.desc }}</p>
            </div>
        </article>
    {% endfor %}
    
{% endblock content %}
