{% extends "status/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <small class="text-muted"><strong>Project:</strong> <a href="{% url 'bugs-project' bug.project.id %}">{{ bug.project }}</a> | <strong>Author:</strong> {{ bug.author }}<br/></small>
            <small class="text-muted">Date Created: {{ bug.date_added }}</small>
            <small class="text-muted">Last Modified: {{ bug.date_modified }}</small>
            </div>
            <h2>{{ bug.name|title }}</h2>
            <p>{{bug.desc}}</p>
                <img class="bug_image" src="{{ bug.image.url }}">
            {% if bug.image2.url != '/media/default_bug.png' %}
                <br/><img class="bug_image" src="{{ bug.image2.url }}">
            {% endif %}
            <p class="article-content">Bug Type: {{ bug.get_bug_type_display }}</p>
            <p>Status: {{bug.resolved|yesno:"<span style='font-weight: bold; color: white; background-color: green; padding: 5px;'>Resolved</span>, <span style='font-weight: bold; color: white; background-color: red; padding: 5px;'>Open</span>"|safe}}</p>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'bugs-update' bug.id %}"><i class="far fa-edit"></i> Edit</a>
            <a class="btn btn-outline-danger btn-sm" href="{% url 'bugs-delete' bug.id %}"><i class="far fa-trash-alt"></i> Delete</a>
        </div>
        
        
    </article>
    <article class="media content-section">
        <div class="media-body">
                <div style="display: flex; justify-content: space-between; padding: 5px;">
                    <h4>Comments</h4>
                    <div><a class="btn btn-outline-primary btn-sm" href="{% url 'bugs-create-comment' bug.id %}"><i class="fas fa-plus"></i> Add New Comment</a></div>
                </div>
                {% for comment in bug.comment_set.all %}
                    <div class="article-metadata-comments">
                        <small class="text-muted"><strong>Author:</strong> {{ comment.author }}<br>
                        Date Created:</strong> {{ comment.date_added }}</small>
                        <p>{{comment.desc}}</p>
                        {% if request.user == comment.author %}
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'comment-delete' comment.id %}"><i class="far fa-trash-alt"></i> Delete</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </ul>
        </div>
    </article>

    
{% endblock content %}