{% extends "status/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <small class="text-muted">Project: <a href="{% url 'bugs-project' bug.project.id %}">{{ bug.project }}</a> | Author: {{ bug.author }}<br/></small>
            <small class="text-muted">Date Created: {{ bug.date_added }}</small>
            <small class="text-muted">Last Modified: {{ bug.date_modified }}</small>
            </div>
            <h2>{{ bug.name }}</h2>
            <p>{{bug.desc}}</p>
            {% if bug.image.url != '/media/default_bug.png' %}
                <img class="bug_image" src="{{ bug.image.url }}">
            {% else %}
                <img src="{{ bug.image.url }}">
            {% endif %}
            <p class="article-content">Bug Type: {{ bug.get_bug_type_display }}</p>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'bugs-update' bug.id %}"><i class="far fa-edit"></i> Edit</a>
            <a class="btn btn-outline-danger btn-sm" href="{% url 'bugs-delete' bug.id %}"><i class="far fa-trash-alt"></i> Delete</a>
        </div>
    </article>
    
{% endblock content %}