{% extends "status/base.html" %}
{% block content %}
    <h1>Bugs List</h1>
    <h4>Project ID: {{ view.kwargs.id }} | Total bugs: {{ page_obj.paginator.count }}</h4>
    {% include 'projects/pagination.html' %}
    <p><a class="btn btn-primary btn-lg" style="width: 100%;" href="{% url 'bugs-create' %}"><i class="fas fa-bug"></i> Create New Bug</a></p>

    
    {% for bug in object_list %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Author: {{ bug.author }}<br/></small>
                    <small class="text-muted">Date Created: {{ bug.date_added }}</small>
                    <small class="text-muted">Last Modified: {{ bug.date_modified }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'bugs-detail' bug.id %}">{{ bug.name }}</a></h2>
                <p>{{bug.desc}}</p>
                <p class="article-content">Bug Type: {{ bug.get_bug_type_display }}</p>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'bugs-detail' bug.id %}"><i class="far fa-file-alt"></i> View Full Details</a> 
                <a class="btn btn-outline-primary btn-sm" href="{% url 'bugs-update' bug.id %}"><i class="far fa-edit"></i> Edit</a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'bugs-delete' bug.id %}"><i class="far fa-trash-alt"></i> Delete</a>
            </div>
        </article>
    {% endfor %}

    {% include 'projects/pagination.html' %}
    
{% endblock content %}