{% extends "status/base.html" %}
{% block content %}
    {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}"><< Previous</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next >></a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
    {% endif %}
    {% endif %}
    <h3>Bugs for project ID: {{ view.kwargs.id }} | Total bugs: {{ page_obj.paginator.count }}</h3>
    {% for bug in object_list %}
        <article class="media content-section">
            <div class="media-body">
                
                <div class="article-metadata">
                Project: <a class="mr-2" href="#">{{ bug.project }}</a>
                Author: <a class="mr-2" href="#">{{ bug.author }}</a>
                <small class="text-muted">Date Created: {{ bug.date_added }}</small>
                <small class="text-muted">Last Modified: {{ bug.date_modified }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ bug.desc }}</a></h2>
                <p class="article-content">Bug Type: {{ bug.get_bug_type_display }}</p>
                <a href="{% url 'bugs-detail' bug.id %}">View Full Details</a> | <a class="mr-2" href="{% url 'bugs-update' bug.id %}">Edit</a>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}"><< Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next >></a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    {% endif %}
    
{% endblock content %}