{% extends "status/base.html" %}
{% block content %}
    <h1>Bugs</h1>
    <h4><strong>Project ID:</strong> {{ view.kwargs.id }} | <strong>Project Name:</strong> {{view.kwargs.name}} | <strong>Total bugs:</strong> {{ page_obj.paginator.count }}</h4>
    {% include 'projects/pagination.html' %}

    {% for bug in object_list %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <small class="text-muted"><strong>Author:</strong> {{ bug.author }}</small>
                        </div>
                        <div>
                            <small class="text-muted"><strong>Date Created:</strong> {{ bug.date_added }}</small>
                            <small class="text-muted"><strong>Last Modified:</strong> {{ bug.date_modified }}</small>
                        </div>
                    </div>
                </div>
                <h2><a class="article-title" href="{% url 'bugs-detail' bug.id %}">{{ bug.name|title }}</a></h2>
                <p>{{bug.desc}}</p>
                <p class="article-content"><strong>Bug Type:</strong> {{ bug.get_bug_type_display }}</p>
                <p><strong>Status:</strong> {{bug.resolved|yesno:"<span style='color: white; background-color: green; padding: 5px;'>Resolved</span>, <span style='color: white; background-color: red; padding: 5px;'>Unresolved</span>"|safe}}</p>
                <a class="btn btn-primary btn-sm dark-button" href="{% url 'bugs-detail' bug.id %}"><i class="far fa-file-alt"></i> View Full Details</a> 
                <a class="btn btn-primary btn-sm dark-button" href="{% url 'bugs-update' bug.id %}"><i class="far fa-edit"></i> Edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'bugs-delete' bug.id %}"><i class="far fa-trash-alt"></i> Delete</a>
            </div>
        </article>
    {% endfor %}

    {% include 'projects/pagination.html' %}
    
{% endblock content %}